@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingCircle {
  height: 10em;
  width: 10em;
  border: 0.5em solid #dfdfdf;
  border-radius: 9999px;
  border-bottom-color: #205fd0;
  animation: spin 1s infinite linear;
}
