.container {
  display: flex;
  flex-flow: column nowrap;
}

.container h1 {
  padding-left: 2.5%;
}

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  overflow-y: scroll;
}

.container > button {
  padding: 1%;
  color: lightgray;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.container > button:hover {
  color: #2c2c2c;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container h1 {
    text-align: center;
  }

  .container {
    width: 100%;
  }
}
